<app-alert [title]="'component1 title'" [isOpen]="show" [buttonRow]="varbuttons"></app-alert>

<p>Component1</p>

<h1 (click)="alert1()"> alert1</h1>

<h1 (click)="show=!show; varbuttons = buttons2;">alert2</h1>

<h1 (click)="btnFromService();">alert from service</h1>

<ng-template #buttons>
  <button (click)="btn1();" class="btnn" >btn1</button>
  <button (click)="btn2()">btn2</button>
  <button (click)="show=false">close</button>
</ng-template>

<ng-template #buttons2>
  <button (click)="btn1()" class="btnn">ok</button>
  <button (click)="show=false">close</button>
</ng-template>
